@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body, 
#root, 
.App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.portfolio-content {
    position: relative; 
    z-index: 2; 
    color: white; 
    text-align: center;
    padding-top: 20vh; 
    overflow-y: auto; 
    height: 100%;
}
.portfolio-content h1 {
    font-size: 3em;
}
